body {
    font-family: Arial, sans-serif;
    background-image: url("/images/fondo5.png"); /* Ajusta la ruta de la imagen según tu estructura de archivos */
    background-repeat: repeat;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 36px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.maki-card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    text-align: center;
}

    .maki-card h3 {
        font-size: 24px;
        margin-top: 10px;
    }

    .maki-card p {
        font-size: 16px;
        margin-top: 10px;
    }

/* Estilo para el título de promociones */
.container.text-center h2 {
    font-size: 24px;
    margin-bottom: 20px;
}



.promo-card button:hover {
    background-color: #ea4646;
}

.maki-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.col-md-6 {
    flex: 0 0 calc(50% - 20px); /* 50% de ancho, menos el margen */
}

/* Estilos generales para el footer */
footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
}

    /* Estilos para las columnas */
    footer .container {
        max-width: 1200px;
    }

    footer h5 {
        color: #fff;
    }

    /* Estilos para los enlaces del footer */
    footer ul.list-unstyled {
        padding: 0;
        list-style: none;
    }

        /* Centrar los elementos <li> en el pie de página */
        footer ul.list-unstyled li {
            text-align: center;
            margin-bottom: 10px; /* Espacio entre elementos */
        }

    footer h5 {
        color: #fff;
        text-align: center;
        margin-bottom: 10px; /* Espacio entre títulos y elementos <li> */
    }

    footer ul.list-unstyled li a {
        color: #fff;
        text-decoration: none;
        transition: text-decoration 0.3s ease-in-out;
    }

        /* Estilo de subrayado al hacer hover */
        footer ul.list-unstyled li a:hover {
            text-decoration: underline;
        }

    /* Estilos para las imágenes de redes sociales */
    footer ul.list-unstyled li img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

    footer .social-label {
        display: block;
        color: #fff;
        font-size: 14px;
        margin-top: 5px;
    }
