@{
    ViewData["Title"] = "Preguntas";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/styleQuestions.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Tienda de Makis</title>

    <style>
        /* Estilo personalizado para el textarea */
        .styled-textarea {
            padding: 10px;
            font-size: 16px;
            border-radius: 5px;
            border: 1px solid #ccc;
            resize: vertical; /* Permite ajustar verticalmente, pero no horizontalmente */
        }

        /* Estilos para el botón de enviar */
        .btn-enviar {
            /* Puedes agregar más estilos para personalizar el botón */
            margin-top: 10px;
            font-size: 16px;
            padding: 8px 16px;
            border-radius: 5px;
        }

    </style>
</head>
<body>
    <header>
        <h1>Apartado de Preguntas</h1>
        <p>¡Preguntas Frecuentes por nuestros clientes!</p>
    </header>
    <div class="container">
            <div class="maki-card">

    <!-- Contenedor para Preguntas Frecuentes -->
      <!-- Pregunta 1 -->
            <div class="col-md-6">
                <div class="maki-card">
                    <h3>¿Cuáles son las horas de operación de Miso Mori?</h3>
                    <p> Estamos abiertos de lunes a viernes de 11:00 a.m. a 9:00 p.m. y los sábados y domingos de 12:00 p.m. a 9:00 p.m.</p>
                </div>
            </div>

            <!-- Pregunta 2  -->
            <div class="col-md-6">
                <div class="maki-card">
                    <h3>¿Ofrecen opciones vegetarianas o veganas?</h3>
                    <p>No tenemos opciones vegetarianas y veganas en nuestro menú. Actualizaremos nuestro catalogo cuando las tengamos.</p>
                </div>
            </div>

            <!-- Pregunta 3 -->
            <div class="col-md-6">
                <div class="maki-card">
                    <h3>¿Cuál es el tiempo estimado de entrega?</h3>
                    <p>El tiempo de entrega promedio es de 30-45 minutos, pero puede variar según la ubicación y la demanda. Te proporcionaremos una estimación más precisa al realizar tu pedido.</p>
                </div>
            </div>

            <!-- Pregunta 4 -->
            <div class="col-md-6">
                <div class="maki-card">
                    <h3>¿Cómo puedo realizar un pedido en línea?</h3>
                    <p>Para realizar un pedido en línea, simplemente navega por nuestro catálogo, selecciona los productos que deseas, agrégalos al carrito y sigue las instrucciones para completar la compra.</p>
                </div>
            </div>

             <!-- Pregunta 5 -->
            <div class="col-md-6">
                <div class="maki-card">
                    <h3>¿Cuáles son las opciones de pago disponibles?</h3>
                    <p>Aceptamos pagos en línea con tarjetas de crédito y débito. También ofrecemos opciones de pago en efectivo en la entrega.</p>
                </div>
            </div>

            <!-- Pregunta 6 -->
            <div class="col-md-6">
                <div class="maki-card">
                    <h3>¿Puedo realizar pedidos para llevar o es solo entrega a domicilio?</h3>
                    <p>Ofrecemos tanto la opción de entrega a domicilio como la de pedidos para llevar. Puedes seleccionar la que mejor se adapte a tus necesidades.</p>
                </div>
            </div>

             <!-- Pregunta 7 -->
            <div class="col-md-6">
                <div class="maki-card">
                    <h3>¿Se pueden realizar pedidos con anticipación?</h3>
                    <p> Sí, puedes programar pedidos con anticipación. Durante el proceso de pedido, elige la fecha y hora de entrega que prefieras.</p>
                </div>
            </div>

            <!-- Pregunta 8 -->
            <div class="col-md-6">
                <div class="maki-card">
                    <h3>¿Qué medidas toman para garantizar la frescura de los alimentos durante la entrega?</h3>
                    <p> Nuestra prioridad es la frescura y la calidad. Utilizamos envases especiales y técnicas de empaquetado para mantener la comida fresca durante la entrega.</p>
                </div>
            </div>

            <!-- Pregunta 9 -->
            <div class="col-md-6">
                <div class="maki-card">
                    <h3>¿Tienen promociones o descuentos especiales?</h3>
                    <p>Sí, ofrecemos promociones y descuentos especiales de manera regular. Puedes consultar el catalogo.</p>
                </div>
            </div>

            <!-- Pregunta 10 -->
            <div class="col-md-6">
                <div class="maki-card">
                    <h3>¿Cuál es su política de devoluciones o reembolsos?</h3>
                    <p>Si no estás satisfecho con tu pedido, por favor contáctanos de inmediato. Estamos comprometidos a resolver cualquier problema.</p>
                </div>
            </div>
            
            <div class="container">
                <form id="preguntaForm">
                    <div class="form-group">
                        <h3 for="preguntaTextarea">¿Alguna duda Adicional?</h3>
                        <textarea class="form-control styled-textarea" id="preguntaTextarea" rows="4" placeholder="Escribe tu pregunta aquí..."></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-enviar" id="enviar">Enviar</button>
                </form>
                <div class="alert alert-success mt-3" role="alert" id="mensajeRespuesta" style="display: none;">
                </div>
            </div>

        </div>
    </div>
            



        

    <!-- Footer -->
    <footer class="bg-black text-white py-4">
        <div class="container">
            <div class="row">
                <!-- Columna 1: Ayuda al cliente -->
                <div class="col-md-3">
                    <h5>Ayuda al Cliente</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Preguntas frecuentes</a></li>
                        <li><a href="#">Políticas de envío</a></li>
                        <li><a href="#">Términos y condiciones</a></li>
                    </ul>
                </div>

            <!-- Columna 2: Acerca de nosotros 
            
            <div class="col-md-3">
                <h5>Acerca de Nosotros</h5>
                <p>Nuestra Visión</p>
                <p>Nuestra Misión</p>
            </div>

            -->
            <div class="col-md-3">
                    <h5>Acerca de nosotros</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Nuestra Misión</a></li>
                        <li><a href="#">Nuestra Visión</a></li>
                        
                    </ul>
           </div>


            <!-- Columna 3: Contáctanos 

            <div class="col-md-3">
                <h5>Contáctanos</h5>
                <p>Email: info@misomori.com</p>
                <p>Teléfono: +123 456 789</p>
            </div>
            -->

            <div class="col-md-3">
                    <h5>Contáctanos</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Email: infosushi@misomori.com</a></li>
                        <li><a href="#">Teléfono: +51 922147075</a></li>
                        <li><a href="#">Iniciar Sesión</a></li>
                    </ul>
                </div>

            <!-- Columna 4: Redes sociales -->
        <div class="col-md-3">
            <h5>Redes Sociales</h5>
            <ul class="list-unstyled">
                
                <li>
                    <a href="#">
                        <img src="~/images/tiktok.PNG" alt="Twitter">
                        <span class="social-label">Tik Tok</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/images/ig.png" alt="Instagram">
                        <span class="social-label">Instagram</span>
                    </a>
                </li>
            </ul>
        </div>
    <hr>
                <center>
                <p>©2023 Miso Mori. Todos los Derechos Reservados</p>
            </center>
            </div>
            </div>
    </footer>
        <script>
            $(document).ready(function () {
                $("#preguntaForm").submit(function (event) {
                event.preventDefault();
                var mensaje = $("#preguntaTextarea").val();

                var data = {
                    Correo:"",
                    Codigo:"",
                    Estado:1,
                    Mensaje: mensaje
                };
                $.ajax({
                    url: "http://apiproyectopi-001-site1.anytempurl.com/api/Api/consultas/NewConsulta",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(data),
                    success: function (response) {
                        // Manejar la respuesta exitosa aquí
                        console.log("Consulta creada:", response);
                        $("#preguntaTextarea").val("");
                        $("#mensajeRespuesta").text("Consulta creada con éxito. Código: " + response.codigo);
                        $("#mensajeRespuesta").show();
                        setTimeout(function () {
                            $("#mensajeRespuesta").hide();
                        }, 4000);
                    },
                    error: function (error) {
                        // Manejar errores aquí
                        console.error("Error al crear la consulta:", error);
                        // Mostrar algún mensaje de error al usuario si lo deseas
                        alert("Hubo un error al crear la consulta.");
                    }
                });
            });
            });
        </script>

</body>
</html>
